/* font-family: 'Overpass', sans-serif;
font-family: 'Quicksand', sans-serif; */

* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    min-height: 100vh;
    color: #D1DDE9;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    background-color: black;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.wrapper {
    padding: 40px 50px;
}

.notop-wrapper {
    padding: 40px 50px;
    padding-top: 0px;
}

header {
    background-color: #20435C;
}

header .wrapper {
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.page-title {
    background-color: #E49334;
    padding: 10px 50px;
    color: #20435C;
}

.logo {
    max-width: 400px;
}

.primary-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 40px;
}

.primary-nav ul li a {
    font-size: 35px;
    font-family: 'Overpass', sans-serif;
    color: #E49334;
}

.primary-nav ul li a:hover {
    color: #FFBF6F;
}

.primary-nav .active {
    color: #FFBF6F;
    text-decoration: underline;
}

/* How to make the video shrink vertically
when page shrinks */
.video iframe {
    max-width: 100%;
    margin: auto;
}

.orange-background {
    background-color: #E49334;
    color: #20435C;
}

.orange-background .wrapper {
    padding: 15px 50px;
}

.blue-background {
    background-color: #20435C;
}

.align-right {
    text-align: right;
}

/* Grid properties */

.title-parent-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}

.two-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

footer {
    background-color: #20435C;
    color: #E49334;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
}

.footer-grid div:nth-child(1) {
    text-align: left;
    list-style-type: none;
}

.footer-grid div:nth-child(1) ul {
    list-style-type: none;
    padding: 0px;
}

.footer-grid div:last-child {
    text-align: center;
}

.stick-footer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Buttons */

.button {
    padding: 15px 30px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}

.button-orange {
    background-color: #E49334;
    color: #20435C;
}

.button-orange:hover {
    background-color: #FFBF6F;
    color: #20435C;
}


/* Typography */

h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 30px;
    font-weight: 400;
}

a {
    color: #FFBF6F;
    text-decoration: none;
}

a:hover {
    color: #E49334;
}

.caption {
    font-size: 16px;
    margin-top: 0px;
}